@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}

.container{
    max-width: 1140px;
    margin: auto;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.hCenter{
    justify-content: center;
}
.hBetween{
    justify-content: space-between;
}
.hEnd{
    justify-content: flex-end;
}
.vCenter{
    align-items: center;
}
.column-1-2{
    flex-basis: 50%;
    max-width: 50%;
    padding: 20px;
} 
/***** Header ******/

header{
   position: relative;
   display: flex;
   justify-content: center;
}
header img{
    width: 100%;
    display: block;
}
.heroContent{
    width: 1140px;
    margin: auto;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
     
}
.heroContent div{
    max-width: 525px; 
    
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: flex-end;

}
.heroContent h1{
    font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right; 
color: #FFFFFF;
}
.heroContent p{
    font-weight: 400;
font-size: 16px;
line-height: 26px; 
text-align: right; 
color: #FFFFFF;
margin: 24px 0;
}
.btn{
    background: #FFFFFF;
border-radius: 5px;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: right;
padding: 20px 25px;
color: #005FAC;
text-decoration: none;
display: inline-block;
}


/**** experienceSection ****/
.experienceSection{
    padding: 50px 0;
}
.experienceSection h2{
    font-weight: 700;
font-size: 40px;
line-height: 47px; 
color: #151414;
max-width: 400px;
}
.experienceSection p{
    font-weight: 400;
font-size: 16px;
line-height: 26px; 
color: #444343;
margin: 24px 0 15px;
} 
.experienceSection ul li{
    display: flex;
    align-items: center;
}
.experienceSection ul li img{
    max-width: 24px;
    margin-right: 10px;
}
.experienceSection ul li span{
    font-weight: 400;
font-size: 16px;
line-height: 26px; 
color: #444343;
}

/******** myPlansSection *******/
.myPlansSection{
    padding: 50px 0;
}
.myPlansSection h2{
    font-weight: 700;
font-size: 40px;
line-height: 47px;  
text-align: center;  
color: #151414;
margin-bottom: 40px;
}
.column-1-4{
    flex-basis: 25%;
    max-width: 25%;
    padding: 5px;
    text-align: center;
}
.myPlansSection img{
    height: 93px;
}
.myPlansSection h3{
    font-weight: 600;
font-size: 30px;
line-height: 35px;
text-align: center; 
color: #151414;
margin: 10px 0;
}
.myPlansSection p{
    font-weight: 400;
font-size: 25px;
line-height: 29px;
text-align: center; 
color: #737272;
}

/******** cllUsSection ***/
.cllUsSection{
    background-image: url(../images/gradient1.png) , url(../images/watch.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 50px auto;
}
.cllUsSection div{
    padding:60px 50px;
}
.cllUsSection h2{
    font-weight: 700;
font-size: 40px;
line-height: 47px; 
color: #FFFFFF;
max-width: 500px;
margin-bottom: 20px;
}




/********* footer *****/
footer{
    background: #151414;
    padding: 130px 0;
}
.info{
    max-width: 40%;
    flex-basis: 40%;
}
.info h2{
    font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #F8F8F8;
margin-bottom: 20px;
}
.info p{
    font-weight: 400;
font-size: 16px;
line-height: 26px; 
color: #FFFFFF;
margin-bottom: 10px;
}
.social{
    display: flex;
    margin-top: 20px;
}
.social {}
.social li{
    margin-right: 10px;
}
.social  li a{}
.social  li a img{}

.subscription{

    max-width: 30%;
    flex-basis: 30%;
}
.subscription h3{
    font-weight: 600;
font-size: 25px;
line-height: 29px;

color: #FFFFFF;
margin-bottom: 30px;
}
.subscription form{}
.subscription input[type="email"]{
    border: 1px solid #FFFFFF;
border-radius: 8px;
font-weight: 400;
font-size: 18px;
line-height: 21px; 
color: #F3F3F3;
padding: 20px;
width: 100%;
background-color: transparent;
margin-bottom: 20px;
}
.subscription input[type="submit"]{
    background: #005FAC;
border-radius: 8px;
font-weight: 600;
font-size: 20px;
line-height: 24px;
padding: 20px 30px;
color: #FFFFFF;
border: 0;
}
::-moz-placeholder, :placeholder{
color: #FFFFFF;
}
:focus{
     outline: none;
}